@using Fiorello.Areas.admin.ViewModels.Slider
@model SliderUpdateVM

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Update Home Page Sliders</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form asp-action="update" asp-controller="slider" method="post">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input class="form-control" asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->